<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{user.name}}</h1>
    {{user.pic}}
    <br>
    {{user.email}}
    <br>
    {{user.URL}}
    <br>
    <h2>Blogs:</h2>
    {{#each posts}}
    <a href="#">{{title}}</a>
    <p>{{content}}</p>
    {{/each}}
    <!-- {{user.title}} -->

    <h2>Create Blog Post</h2>
    <form action="/newBlog" method="post">
      <input name="title" placeholder="title">
      <input name="content" placeholder="blog content">
      <input name="id" type="hidden" value="{{user.id}}">
      <input type="submit">
    </form>
    <br>
    <a href="/"><button>back</button></a>
  </body>
</html>
